#xlNavbar .nav-link {
  font-size: 18px;
  color: white;
}

#xlNavbar .nav-link:hover {
  color: #F0AC74;
}

#xlNavbar {
  background-color: #092130;
  border-bottom-style: solid;
  border-bottom-color: black;
}

#hero {
  background-image: url(./images/california031.jpg);
  background-size: cover;
  background-position: center bottom;
}

.display-1 {
  padding-top: 168px;
}

.display-4 {
  padding-bottom: 25px;
}

.display-1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 45%;
  padding-top: 8px;
  border-bottom: 2.5px solid;
}

.btn-lg {
  font-size: 20px;
  border-radius: 10px;
  width: 10%;
}

.buttons {
  padding-bottom: 200px;
}

.btn-link {
  color: black;
}

.btn-link:hover {
  text-decoration-line: none;
  color: #F0AC74;
}
